body {
    background-color: #9d2196;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9d2196;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

header img {
    margin: 0 auto;
    display: block;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
 main {
        padding-left: 5%;
        padding-right: 5%;
    }

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 0;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.7em 1em; /* Adjust padding for better touch interaction */
    text-decoration: none;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
}

.tel-link {
    background-color: #bb24e1;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

.action {
    font-size: 1.35em;
    color: #000000;
    font-weight: bold;
}

#quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#quote-container h1 {
    text-align: center;
}

#logo-container {
    border: 5px solid #fff;
    padding: 10px;
}

.round {
    border-radius: 8px;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

#bg {
    text-align: center;
}

#bg-image {
    max-width: 100%;
    height: auto;
}

#centered-content {
    text-align: center;
    font-size: 1.5em;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
    margin: 0 auto;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    nav li {
        font-size: 1.8em; /* Increase font size for navigation items on smaller screens */
    }

    nav {
        padding: 5px;
    }

    .tel-link {
        width: 90%; /* Adjust width for better mobile display */
    }

    .hours {
        margin-left: 0; /* Reset margin for better alignment on smaller screens */
    }

    .action {
        font-size: 1em; /* Adjust font size for better readability on smaller screens */
    }

    #quote-container {
        height: 10vh; /* Adjust height for better vertical centering on smaller screens */
    }

    #centered-content {
        font-size: 1em; /* Adjust font size for better readability on smaller screens */
    }

    .map {
        height: 30vh; /* Adjust height for better display on smaller screens */
    }

    main p {
        margin-bottom: 15px; /* Add margin to paragraphs for better spacing on smaller screens */
    }
    
}
